workflows/02c-video-factory-a2e.json
{
  "name": "02c вЂ” Р’РёРґРµРѕ-С„Р°Р±СЂРёРєР° (A2E Р°РІР°С‚Р°СЂ)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "video-factory-a2e",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-a2e",
      "name": "рџ“Ґ Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        200,
        400
      ],
      "webhookId": "video-factory-a2e"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\n\nconst sessionId = body.session_id;\nif (!sessionId) throw new Error('session_id is required');\n\nreturn [{ json: {\n  session_id: sessionId,\n  idea_id: body.idea_id,\n  voice_script_id: body.voice_script_id,\n  video_prompt_id: body.video_prompt_id,\n  product_image_url: body.product_image_url || '',\n  artikul: body.artikul || '',\n  show_artikul: body.show_artikul || false,\n  a2e_avatar_id: body.a2e_avatar_id || '',\n  a2e_voice_id: body.a2e_voice_id || '',\n  a2e_background: body.a2e_background || '',\n  a2e_resolution: body.a2e_resolution || '1080',\n  a2e_anchor_type: parseInt(body.a2e_anchor_type) || 0,\n  subtitles_enabled: body.subtitles_enabled != null ? !!body.subtitles_enabled : null,\n  music_file_key: body.music_file_key || '',\n  music_volume: parseFloat(body.music_volume) || 0.3\n}}];"
      },
      "id": "validate-a2e",
      "name": "рџ”Ќ Р’Р°Р»РёРґР°С†РёСЏ РІС…РѕРґР°",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"session_id\": {{ $json.session_id }}, \"message\": \"A2E avatar pipeline started\" }",
        "options": {}
      },
      "id": "respond-a2e",
      "name": "вњ… РћС‚РІРµС‚ 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        680,
        240
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE pipeline_sessions SET status = 'processing', current_step = 'loading_data', updated_at = NOW()\nWHERE id = {{ $json.session_id }};\n\nSELECT vs.script_text, vs.timing_marks, vp.prompt_text, vp.scene_descriptions,\n       ci.title, ci.concept, ci.visual_description,\n       (SELECT value FROM app_settings WHERE key = 'a2e_base_url') AS a2e_base_url,\n       (SELECT value FROM app_settings WHERE key = 'a2e_avatar_id') AS default_avatar_id,\n       (SELECT value FROM app_settings WHERE key = 'a2e_voice_id') AS default_voice_id,\n       (SELECT value FROM app_settings WHERE key = 'a2e_voice_country') AS voice_country,\n       (SELECT value FROM app_settings WHERE key = 'a2e_voice_region') AS voice_region,\n       (SELECT value FROM app_settings WHERE key = 'a2e_speech_rate') AS speech_rate,\n       (SELECT value FROM app_settings WHERE key = 'a2e_resolution') AS default_resolution,\n       (SELECT value FROM app_settings WHERE key = 'a2e_background') AS default_background,\n       (SELECT value FROM app_settings WHERE key = 'a2e_captions') AS captions_enabled,\n       ps.subtitles_enabled AS db_subtitles_enabled,\n       ps.music_volume AS db_music_volume,\n       mt.file_key AS db_music_file_key\nFROM pipeline_sessions ps\nLEFT JOIN voice_scripts vs ON vs.id = ps.voice_script_id\nLEFT JOIN video_prompts vp ON vp.id = ps.video_prompt_id\nLEFT JOIN content_ideas ci ON ci.id = ps.idea_id\nLEFT JOIN music_tracks mt ON mt.id = ps.music_track_id\nWHERE ps.id = {{ $json.session_id }};",
        "options": {}
      },
      "id": "load-data-a2e",
      "name": "рџ“‚ Р—Р°РіСЂСѓР·РєР° РґР°РЅРЅС‹С…",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        680,
        560
      ],
      "credentials": {
        "postgres": {
          "id": "BXL7joPD69X9xNOu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const dbData = $input.first().json;\nconst params = $('рџ”Ќ Р’Р°Р»РёРґР°С†РёСЏ РІС…РѕРґР°').first().json;\n\nconst baseUrl = (dbData.a2e_base_url || 'https://video.a2e.ai').replace(/\\/+$/, '');\nconst avatarId = params.a2e_avatar_id || dbData.default_avatar_id || '';\nconst voiceId = params.a2e_voice_id || dbData.default_voice_id || '';\nconst voiceCountry = dbData.voice_country || 'ru';\nconst voiceRegion = dbData.voice_region || '';\nconst speechRate = parseFloat(dbData.speech_rate) || 1.0;\nconst resolution = parseInt(params.a2e_resolution || dbData.default_resolution) || 1080;\nconst background = params.a2e_background || params.product_image_url || dbData.default_background || '';\n\n// РЎСѓР±С‚РёС‚СЂС‹: webhook > pipeline_sessions > app_settings\nconst captionsEnabled = params.subtitles_enabled != null\n  ? !!params.subtitles_enabled\n  : (dbData.db_subtitles_enabled != null\n    ? !!dbData.db_subtitles_enabled\n    : dbData.captions_enabled === 'true');\n\n// РњСѓР·С‹РєР°\nconst musicFileKey = params.music_file_key || dbData.db_music_file_key || '';\nconst musicVolume = params.music_volume != null ? parseFloat(params.music_volume) : (parseFloat(dbData.db_music_volume) || 0.3);\n\nif (!avatarId) throw new Error('A2E avatar_id not set');\nif (!voiceId) throw new Error('A2E voice_id not set');\n\nreturn [{ json: {\n  ...params,\n  a2e_base_url: baseUrl,\n  a2e_avatar_id: avatarId,\n  a2e_voice_id: voiceId,\n  voice_country: voiceCountry,\n  voice_region: voiceRegion,\n  speech_rate: speechRate,\n  resolution: resolution,\n  background: background,\n  captions_enabled: captionsEnabled,\n  music_file_key: musicFileKey,\n  music_volume: musicVolume,\n  script_text: dbData.script_text || '',\n  timing_marks: dbData.timing_marks || [],\n  prompt_text: dbData.prompt_text || '',\n  title: dbData.title || '',\n  concept: dbData.concept || '',\n  visual_description: dbData.visual_description || ''\n}}];"
      },
      "id": "merge-a2e",
      "name": "рџ”— РћР±СЉРµРґРёРЅРµРЅРёРµ РґР°РЅРЅС‹С…",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.a2e_base_url }}/api/v1/user/remainingCoins",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 15000
        }
      },
      "id": "check-balance-a2e",
      "name": "рџ’° РџСЂРѕРІРµСЂРєР° Р±Р°Р»Р°РЅСЃР°",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1060,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "csbIH2ZnZcaSad2T",
          "name": "a2e"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('рџ”— РћР±СЉРµРґРёРЅРµРЅРёРµ РґР°РЅРЅС‹С…').first().json;\nconst balanceResp = $input.first().json;\n\nconst coins = balanceResp?.data?.remainingCoins ?? balanceResp?.data ?? null;\nif (coins !== null && typeof coins === 'number' && coins < 10) {\n  throw new Error('A2E Р±Р°Р»Р°РЅСЃ СЃР»РёС€РєРѕРј РЅРёР·РєРёР№: ' + coins + ' coins. РџРѕРїРѕР»РЅРёС‚Рµ Р°РєРєР°СѓРЅС‚.');\n}\n\nreturn [{ json: { ...ctx, a2e_balance: coins } }];"
      },
      "id": "validate-balance-a2e",
      "name": "вљ–пёЏ РџСЂРѕРІРµСЂРєР° РєРѕРёРЅРѕРІ",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        560
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE pipeline_sessions SET current_step = 'a2e_tts', updated_at = NOW() WHERE id = {{ $json.session_id }};\nINSERT INTO pipeline_steps (session_id, step_name, step_order, status, started_at)\nVALUES ({{ $json.session_id }}, 'a2e_tts', 1, 'running', NOW())\nON CONFLICT DO NOTHING;",
        "options": {}
      },
      "id": "step-tts-a2e",
      "name": "рџ“Њ РЁР°Рі в†’ TTS",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1180,
        560
      ],
      "credentials": {
        "postgres": {
          "id": "BXL7joPD69X9xNOu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('рџ”— РћР±СЉРµРґРёРЅРµРЅРёРµ РґР°РЅРЅС‹С…').first().json.a2e_base_url }}/api/v1/video/send_tts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"msg\": {{ JSON.stringify($('рџ”— РћР±СЉРµРґРёРЅРµРЅРёРµ РґР°РЅРЅС‹С…').first().json.script_text) }},\n  \"tts_id\": {{ JSON.stringify($('рџ”— РћР±СЉРµРґРёРЅРµРЅРёРµ РґР°РЅРЅС‹С…').first().json.a2e_voice_id) }},\n  \"speechRate\": {{ $('рџ”— РћР±СЉРµРґРёРЅРµРЅРёРµ РґР°РЅРЅС‹С…').first().json.speech_rate }},\n  \"country\": {{ JSON.stringify($('рџ”— РћР±СЉРµРґРёРЅРµРЅРёРµ РґР°РЅРЅС‹С…').first().json.voice_country) }},\n  \"region\": {{ JSON.stringify($('рџ”— РћР±СЉРµРґРёРЅРµРЅРёРµ РґР°РЅРЅС‹С…').first().json.voice_region) }}\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "a2e-tts",
      "name": "рџ—ЈпёЏ A2E TTS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1420,
        560
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "csbIH2ZnZcaSad2T",
          "name": "a2e"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ttsResponse = $input.first().json;\nconst ctx = $('рџ”— РћР±СЉРµРґРёРЅРµРЅРёРµ РґР°РЅРЅС‹С…').first().json;\n\nif (ttsResponse.code !== 0) {\n  throw new Error('A2E TTS failed: ' + (ttsResponse.msg || JSON.stringify(ttsResponse)));\n}\n\nconst audioUrl = ttsResponse.data;\nif (!audioUrl) throw new Error('A2E TTS did not return audio URL');\n\nreturn [{ json: {\n  ...ctx,\n  audio_url: audioUrl\n}}];"
      },
      "id": "extract-audio-a2e",
      "name": "рџЋµ РР·РІР»РµС‡СЊ Р°СѓРґРёРѕ URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1660,
        560
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE pipeline_sessions SET current_step = 'a2e_video', voice_file_url = '{{ $json.audio_url.split(\"'\").join(\"''\") }}', updated_at = NOW() WHERE id = {{ $json.session_id }};\nUPDATE pipeline_steps SET status = 'completed', completed_at = NOW() WHERE session_id = {{ $json.session_id }} AND step_name = 'a2e_tts';\nINSERT INTO pipeline_steps (session_id, step_name, step_order, status, started_at)\nVALUES ({{ $json.session_id }}, 'a2e_video', 2, 'running', NOW())\nON CONFLICT DO NOTHING;",
        "options": {}
      },
      "id": "step-video-a2e",
      "name": "рџ“Њ РЁР°Рі в†’ Р’РёРґРµРѕ",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1900,
        560
      ],
      "credentials": {
        "postgres": {
          "id": "BXL7joPD69X9xNOu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('рџЋµ РР·РІР»РµС‡СЊ Р°СѓРґРёРѕ URL').first().json;\n\nconst result = {\n  session_id: ctx.session_id,\n  a2e_base_url: ctx.a2e_base_url,\n  anchor_id: ctx.a2e_avatar_id,\n  anchor_type: ctx.a2e_anchor_type || 0,\n  audioSrc: ctx.audio_url,\n  resolution: ctx.resolution || 1080,\n  isSkipRs: true,\n  isCaptionEnabled: ctx.captions_enabled || false,\n  msg: ctx.script_text || '',\n  bg_color: null,\n  back_id: null\n};\n\nif (ctx.background) {\n  if (ctx.background.startsWith('#')) {\n    const hex = ctx.background.replace('#', '');\n    const r = parseInt(hex.substring(0,2), 16);\n    const g = parseInt(hex.substring(2,4), 16);\n    const b = parseInt(hex.substring(4,6), 16);\n    result.bg_color = `rgb(${r},${g},${b})`;\n  } else {\n    result.back_id = ctx.background;\n  }\n}\n\n// Р”РёР°РіРЅРѕСЃС‚РёРєР°: Р»РѕРіРёСЂСѓРµРј С‡С‚Рѕ РѕС‚РїСЂР°РІР»СЏРµРј\nconsole.log('A2E generate request:', JSON.stringify(result, null, 2));\n\nreturn [{ json: result }];"
      },
      "id": "build-a2e",
      "name": "рџЏ—пёЏ A2E Р·Р°РїСЂРѕСЃ",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2140,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.a2e_base_url }}/api/v1/video/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"anchor_id\": {{ JSON.stringify($json.anchor_id) }},\n  \"anchor_type\": {{ $json.anchor_type }},\n  \"audioSrc\": {{ JSON.stringify($json.audioSrc) }},\n  \"resolution\": {{ $json.resolution }},\n  \"isSkipRs\": {{ $json.isSkipRs }},\n  \"isCaptionEnabled\": {{ $json.isCaptionEnabled }},\n  \"msg\": {{ JSON.stringify($json.msg) }}{{ $json.bg_color ? ', \"color\": ' + JSON.stringify($json.bg_color) : '' }}{{ $json.back_id ? ', \"back_id\": ' + JSON.stringify($json.back_id) : '' }}\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "a2e-create",
      "name": "рџЋ­ A2E СЃРѕР·РґР°РЅРёРµ РІРёРґРµРѕ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2380,
        560
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "csbIH2ZnZcaSad2T",
          "name": "a2e"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconsole.log('A2E video/generate response:', JSON.stringify(response).substring(0, 500));\n\nif (response.code !== undefined && response.code !== 0) {\n  throw new Error('A2E code=' + response.code + ': ' + (response.msg || '').substring(0, 200));\n}\n\nconst videoId = response.data?._id || response._id;\nif (!videoId) {\n  throw new Error('A2E: РЅРµС‚ _id. code=' + response.code + ' msg=' + (response.msg || 'empty'));\n}\n\nreturn [{ json: {\n  video_id: videoId,\n  session_id: $('рџЏ—пёЏ A2E Р·Р°РїСЂРѕСЃ').first().json.session_id,\n  a2e_base_url: $('рџЏ—пёЏ A2E Р·Р°РїСЂРѕСЃ').first().json.a2e_base_url,\n  poll_count: 0\n}}];"
      },
      "id": "extract-vid-a2e",
      "name": "рџ”‘ РР·РІР»РµС‡СЊ video_id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2620,
        560
      ]
    },
    {
      "parameters": {
        "amount": 20,
        "unit": "seconds"
      },
      "id": "wait-a2e",
      "name": "вЏі Р–РґР°С‚СЊ 20 СЃРµРє",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2860,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.a2e_base_url }}/api/v1/video/awsResult",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"_id\": \"{{ $json.video_id }}\" }",
        "options": {
          "timeout": 30000
        }
      },
      "id": "poll-a2e",
      "name": "рџ”„ РџСЂРѕРІРµСЂРёС‚СЊ СЃС‚Р°С‚СѓСЃ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3100,
        560
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "csbIH2ZnZcaSad2T",
          "name": "a2e"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "a2r",
              "leftValue": "={{ $json.data?.[0]?.status || '' }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-a2e",
      "name": "вњ… Р“РѕС‚РѕРІРѕ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3340,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "const prev = $input.first().json;\nconst statusData = prev.data?.[0] || {};\nconst status = (statusData.status || 'unknown').toLowerCase();\n\nif (status === 'fail' || status === 'error' || status === 'failed') {\n  throw new Error('A2E РіРµРЅРµСЂР°С†РёСЏ РїСЂРѕРІР°Р»РёР»Р°СЃСЊ: ' + JSON.stringify(statusData));\n}\n\nconst pollCount = (prev.poll_count || 0) + 1;\nif (pollCount > 90) {\n  throw new Error('A2E timeout: ' + pollCount + ' polls (' + Math.round(pollCount * 20 / 60) + ' min)');\n}\n\nreturn [{ json: {\n  video_id: prev.video_id || $('рџ”‘ РР·РІР»РµС‡СЊ video_id').first().json.video_id,\n  session_id: prev.session_id || $('рџ”‘ РР·РІР»РµС‡СЊ video_id').first().json.session_id,\n  a2e_base_url: prev.a2e_base_url || $('рџ”‘ РР·РІР»РµС‡СЊ video_id').first().json.a2e_base_url,\n  poll_count: pollCount\n}}];"
      },
      "id": "retry-a2e",
      "name": "вЏі Р•С‰С‘ РЅРµ РіРѕС‚РѕРІРѕ",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3580,
        760
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst statusData = response.data?.[0] || {};\nconst videoUrl = statusData.result;\nif (!videoUrl) throw new Error('A2E did not return video URL (result field)');\n\nconst sessionId = $('рџ”‘ РР·РІР»РµС‡СЊ video_id').first().json.session_id;\n\nreturn [{ json: {\n  session_id: sessionId,\n  raw_video_url: videoUrl,\n  a2e_video_id: $('рџ”‘ РР·РІР»РµС‡СЊ video_id').first().json.video_id\n}}];"
      },
      "id": "got-url-a2e",
      "name": "рџЋ¬ URL РІРёРґРµРѕ",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3580,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('рџ”— РћР±СЉРµРґРёРЅРµРЅРёРµ РґР°РЅРЅС‹С…').first().json;\nconst sessionId = ctx.session_id;\nconst rawVideoUrl = $('рџЋ¬ URL РІРёРґРµРѕ').first().json.raw_video_url;\nconst musicKey = ctx.music_file_key || '';\nconst musicVolume = parseFloat(ctx.music_volume) || 0.3;\n\nif (!musicKey) {\n  // Р‘РµР· РјСѓР·С‹РєРё вЂ” РёСЃРїРѕР»СЊР·СѓРµРј РѕСЂРёРіРёРЅР°Р»СЊРЅРѕРµ РІРёРґРµРѕ РѕС‚ A2E\n  return [{ json: {\n    session_id: sessionId,\n    raw_video_url: rawVideoUrl,\n    final_video_url: rawVideoUrl,\n    command: 'echo NO_MUSIC_NEEDED'\n  }}];\n}\n\n// РЎ РјСѓР·С‹РєРѕР№ вЂ” FFmpeg РјРёРєСЃРёРЅРі\nconst outputPath = '/home/node/output/a2e_final_' + sessionId + '.mp4';\nconst workDir = '/tmp/a2e_mix_' + sessionId;\n\nconst lines = [\n  'set -e',\n  'mkdir -p ' + workDir,\n  'wget -q --timeout=180 -O ' + workDir + '/video.mp4 \"' + rawVideoUrl.replace(/\"/g, '\\\\\"') + '\"',\n  'wget -q --timeout=60 -O ' + workDir + '/music.mp3 \"http://minio:9000/content-factory/' + musicKey + '\"',\n  \"ffmpeg -y -i \" + workDir + \"/video.mp4 -i \" + workDir + \"/music.mp3 -filter_complex '[0:a]volume=1.0[voice];[1:a]volume=\" + musicVolume + \"[music];[voice][music]amix=inputs=2:duration=first:dropout_transition=2[aout]' -map 0:v -map '[aout]' -c:v copy -c:a aac -b:a 192k -shortest \" + outputPath,\n  'rm -rf ' + workDir,\n  'echo MUSIC_DONE'\n];\n\nreturn [{ json: {\n  session_id: sessionId,\n  raw_video_url: rawVideoUrl,\n  final_video_url: outputPath,\n  command: lines.join('\\n')\n}}];"
      },
      "id": "post-process-a2e",
      "name": "рџ“ќ РџРѕСЃС‚-РѕР±СЂР°Р±РѕС‚РєР°",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3820,
        400
      ]
    },
    {
      "parameters": {
        "command": "={{ $json.command }}"
      },
      "id": "exec-music-a2e",
      "name": "вљЎ РќР°Р»РѕР¶РёС‚СЊ РјСѓР·С‹РєСѓ",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        4060,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE pipeline_sessions SET\n  status = 'ready_for_review',\n  current_step = 'review',\n  raw_video_url = '{{ $('рџ“ќ РџРѕСЃС‚-РѕР±СЂР°Р±РѕС‚РєР°').first().json.raw_video_url.replace(/'/g, \"''\") }}',\n  final_video_url = '{{ $('рџ“ќ РџРѕСЃС‚-РѕР±СЂР°Р±РѕС‚РєР°').first().json.final_video_url.replace(/'/g, \"''\") }}',\n  updated_at = NOW()\nWHERE id = {{ $('рџ“ќ РџРѕСЃС‚-РѕР±СЂР°Р±РѕС‚РєР°').first().json.session_id }};\n\nUPDATE pipeline_steps SET status = 'completed', completed_at = NOW()\nWHERE session_id = {{ $('рџ“ќ РџРѕСЃС‚-РѕР±СЂР°Р±РѕС‚РєР°').first().json.session_id }} AND step_name = 'a2e_video';",
        "options": {}
      },
      "id": "finalize-a2e",
      "name": "рџ’ѕ Р¤РёРЅР°Р»РёР·Р°С†РёСЏ",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4300,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "BXL7joPD69X9xNOu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://dashboard:3001/api/internal/video-ready",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session_id\": {{ $('рџ“ќ РџРѕСЃС‚-РѕР±СЂР°Р±РѕС‚РєР°').first().json.session_id }},\n  \"status\": \"ready_for_review\"\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "cb-a2e",
      "name": "рџ“Ў Callback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4540,
        400
      ],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "рџ“Ґ Webhook": {
      "main": [
        [
          {
            "node": "рџ”Ќ Р’Р°Р»РёРґР°С†РёСЏ РІС…РѕРґР°",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "рџ”Ќ Р’Р°Р»РёРґР°С†РёСЏ РІС…РѕРґР°": {
      "main": [
        [
          {
            "node": "вњ… РћС‚РІРµС‚ 200",
            "type": "main",
            "index": 0
          },
          {
            "node": "рџ“‚ Р—Р°РіСЂСѓР·РєР° РґР°РЅРЅС‹С…",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "рџ“‚ Р—Р°РіСЂСѓР·РєР° РґР°РЅРЅС‹С…": {
      "main": [
        [
          {
            "node": "рџ”— РћР±СЉРµРґРёРЅРµРЅРёРµ РґР°РЅРЅС‹С…",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "рџ”— РћР±СЉРµРґРёРЅРµРЅРёРµ РґР°РЅРЅС‹С…": {
      "main": [
        [
          {
            "node": "рџ’° РџСЂРѕРІРµСЂРєР° Р±Р°Р»Р°РЅСЃР°",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "рџ’° РџСЂРѕРІРµСЂРєР° Р±Р°Р»Р°РЅСЃР°": {
      "main": [
        [
          {
            "node": "вљ–пёЏ РџСЂРѕРІРµСЂРєР° РєРѕРёРЅРѕРІ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "вљ–пёЏ РџСЂРѕРІРµСЂРєР° РєРѕРёРЅРѕРІ": {
      "main": [
        [
          {
            "node": "рџ“Њ РЁР°Рі в†’ TTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "рџ“Њ РЁР°Рі в†’ TTS": {
      "main": [
        [
          {
            "node": "рџ—ЈпёЏ A2E TTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "рџ—ЈпёЏ A2E TTS": {
      "main": [
        [
          {
            "node": "рџЋµ РР·РІР»РµС‡СЊ Р°СѓРґРёРѕ URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "рџЋµ РР·РІР»РµС‡СЊ Р°СѓРґРёРѕ URL": {
      "main": [
        [
          {
            "node": "рџ“Њ РЁР°Рі в†’ Р’РёРґРµРѕ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "рџ“Њ РЁР°Рі в†’ Р’РёРґРµРѕ": {
      "main": [
        [
          {
            "node": "рџЏ—пёЏ A2E Р·Р°РїСЂРѕСЃ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "рџЏ—пёЏ A2E Р·Р°РїСЂРѕСЃ": {
      "main": [
        [
          {
            "node": "рџЋ­ A2E СЃРѕР·РґР°РЅРёРµ РІРёРґРµРѕ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "рџЋ­ A2E СЃРѕР·РґР°РЅРёРµ РІРёРґРµРѕ": {
      "main": [
        [
          {
            "node": "рџ”‘ РР·РІР»РµС‡СЊ video_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "рџ”‘ РР·РІР»РµС‡СЊ video_id": {
      "main": [
        [
          {
            "node": "вЏі Р–РґР°С‚СЊ 20 СЃРµРє",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "вЏі Р–РґР°С‚СЊ 20 СЃРµРє": {
      "main": [
        [
          {
            "node": "рџ”„ РџСЂРѕРІРµСЂРёС‚СЊ СЃС‚Р°С‚СѓСЃ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "рџ”„ РџСЂРѕРІРµСЂРёС‚СЊ СЃС‚Р°С‚СѓСЃ": {
      "main": [
        [
          {
            "node": "вњ… Р“РѕС‚РѕРІРѕ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "вњ… Р“РѕС‚РѕРІРѕ?": {
      "main": [
        [
          {
            "node": "рџЋ¬ URL РІРёРґРµРѕ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "вЏі Р•С‰С‘ РЅРµ РіРѕС‚РѕРІРѕ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "вЏі Р•С‰С‘ РЅРµ РіРѕС‚РѕРІРѕ": {
      "main": [
        [
          {
            "node": "вЏі Р–РґР°С‚СЊ 20 СЃРµРє",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "рџЋ¬ URL РІРёРґРµРѕ": {
      "main": [
        [
          {
            "node": "рџ“ќ РџРѕСЃС‚-РѕР±СЂР°Р±РѕС‚РєР°",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "рџ“ќ РџРѕСЃС‚-РѕР±СЂР°Р±РѕС‚РєР°": {
      "main": [
        [
          {
            "node": "вљЎ РќР°Р»РѕР¶РёС‚СЊ РјСѓР·С‹РєСѓ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "вљЎ РќР°Р»РѕР¶РёС‚СЊ РјСѓР·С‹РєСѓ": {
      "main": [
        [
          {
            "node": "рџ’ѕ Р¤РёРЅР°Р»РёР·Р°С†РёСЏ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "рџ’ѕ Р¤РёРЅР°Р»РёР·Р°С†РёСЏ": {
      "main": [
        [
          {
            "node": "рџ“Ў Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
