workflows/04-product-card.json
{
  "name": "04 — Генератор карточек товара",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "product-card",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-card",
      "name": "📥 Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 400],
      "webhookId": "product-card"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\n\nconst product_name = body.product_name;\nconst image_url = body.image_url;\nconst marketplace = body.marketplace || 'WB';\n\nif (!product_name) throw new Error('product_name is required');\nif (!image_url) throw new Error('image_url is required');\n\n// Concept templates for infographic generation\nconst validConcepts = ['studio', 'lifestyle', 'flatlay', 'minimal', 'model'];\nconst concept = validConcepts.includes(body.concept) ? body.concept : 'studio';\n\nreturn [{ json: {\n  product_name,\n  image_url,\n  marketplace,\n  concept,\n  artikuls: body.artikuls || [],\n  product_description: body.product_description || '',\n  target_audience: body.target_audience || '',\n  key_features: body.key_features || '',\n  style: body.style || 'modern',\n  color_scheme: body.color_scheme || 'auto',\n  include_price: body.include_price || false,\n  price: body.price || '',\n  include_badge: body.include_badge || false,\n  badge_text: body.badge_text || '',\n  extra_instructions: body.extra_instructions || '',\n  session_id: body.session_id || null,\n  callback_url: body.callback_url || ''\n}}];"
      },
      "id": "validate-card",
      "name": "🔍 Валидация",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"Product card generation started (3 variants)\", \"product_name\": \"{{ $json.product_name }}\", \"concept\": \"{{ $json.concept }}\" }",
        "options": {}
      },
      "id": "respond-card",
      "name": "✅ Ответ 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 240]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT key, value FROM app_settings WHERE category IN ('ai', 'branding');",
        "options": {}
      },
      "id": "load-settings-card",
      "name": "⚙️ Настройки",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [680, 560],
      "credentials": {
        "postgres": {
          "id": "BXL7joPD69X9xNOu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const settings = {};\nfor (const row of $input.all()) {\n  settings[row.json.key] = row.json.value;\n}\nconst params = $('🔍 Валидация').first().json;\n\nconst systemPrompt = settings.ai_system_prompt || 'Ты — профессиональный дизайнер карточек товаров для маркетплейсов.';\nconst model = settings.ai_model || 'gpt-4o';\nconst baseUrl = (settings.ai_base_url || 'https://gptunnel.ru/v1').replace(/\\/+$/, '');\n\nreturn [{ json: { ...params, systemPrompt, model, baseUrl } }];"
      },
      "id": "prepare-config-card",
      "name": "🔧 Конфиг",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 560]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $input.first().json;\n\nconst conceptNames = { studio: 'Studio (белый фон, студийный свет)', lifestyle: 'Lifestyle (в контексте использования)', flatlay: 'Flatlay (вид сверху)', minimal: 'Минимализм', model: 'На модели' };\n\nconst userPrompt = `Проанализируй изображение товара и создай подробный JSON с данными для карточки товара.\n\nТовар: ${ctx.product_name}\nМаркетплейс: ${ctx.marketplace}\nВыбранная концепция: ${ctx.concept} — ${conceptNames[ctx.concept] || ctx.concept}\nОписание от продавца: ${ctx.product_description || 'нет'}\nЦелевая аудитория: ${ctx.target_audience || 'широкая'}\nКлючевые особенности: ${ctx.key_features || 'определи по фото'}\nСтиль дизайна: ${ctx.style}\nЦветовая схема: ${ctx.color_scheme}\nДополнительные инструкции: ${ctx.extra_instructions || 'нет'}\n\nНА ОСНОВЕ ФОТО ТОВАРА определи:\n1. Категорию товара\n2. Основные визуальные характеристики (цвет, форма, материал, текстура)\n3. УТП (уникальное торговое предложение)\n4. Эмоциональные триггеры для покупателя\n\n⚠️ КРИТИЧЕСКИ ВАЖНО — поле product_photo_description:\nОпиши ДЕТАЛЬНО и ТОЧНО внешний вид товара с фото: форму, пропорции, все цвета, материалы, текстуры, надписи на товаре, логотипы, упаковку.\n\nСоздай данные для ПРОДАЮЩЕЙ карточки. Ответ строго JSON:\n{\n  \"main_title\": \"Яркий заголовок (3-5 слов)\",\n  \"subtitle\": \"Подзаголовок с ключевой выгодой\",\n  \"bullet_points\": [\"5-7 коротких УТП с emoji\"],\n  \"cta_text\": \"Призыв к действию\",\n  \"seo_title\": \"SEO-заголовок\",\n  \"seo_description\": \"SEO-описание 150-200 символов\",\n  \"search_keywords\": [\"10-15 ключевых слов\"],\n  \"category_suggestion\": \"Рекомендуемая категория\",\n  \"color_palette\": [\"#hex1\", \"#hex2\", \"#hex3\"],\n  \"visual_style_notes\": \"Рекомендации по визуальному оформлению\",\n  \"product_photo_description\": \"ПОДРОБНОЕ описание внешнего вида товара на АНГЛИЙСКОМ\",\n  \"rich_content_blocks\": [\n    { \"type\": \"hero\", \"heading\": \"Заголовок\", \"text\": \"Описание\" },\n    { \"type\": \"features\", \"heading\": \"Преимущества\", \"items\": [\"Пункт 1\", \"Пункт 2\"] },\n    { \"type\": \"usage\", \"heading\": \"Как использовать\", \"steps\": [\"Шаг 1\", \"Шаг 2\"] },\n    { \"type\": \"specs\", \"heading\": \"Характеристики\", \"items\": {\"Материал\": \"значение\"} }\n  ],\n  \"infographic_prompts\": [\n    \"Промпт-вариант 1 (EN)\",\n    \"Промпт-вариант 2 (EN)\",\n    \"Промпт-вариант 3 (EN)\"\n  ],\n  \"a_plus_content\": {\n    \"brand_story\": \"История бренда (2-3 предложения)\",\n    \"comparison_table\": {\"columns\": [\"Наш товар\", \"Аналоги\"], \"rows\": [[\"Преимущество 1\", \"Нет\"]]}\n  }\n}\n\n⚠️ ПРАВИЛА для infographic_prompts:\nМодель flux-kontext-pro ПОЛУЧИТ ФОТО ТОВАРА АВТОМАТИЧЕСКИ как reference image.\nПоэтому в промптах НЕ описывай сам товар — описывай ТОЛЬКО оформление:\n\n1. Каждый промпт СТРОГО на АНГЛИЙСКОМ языке\n2. НЕ описывай товар — модель увидит его на фото\n3. Описывай: какой фон/сцену создать, какие маркетинговые элементы добавить\n4. 3 РАЗНЫХ варианта для концепции \"${ctx.concept}\":\n   - studio: белый/светлый фон, студийное освещение, иконки преимуществ\n   - lifestyle: бытовая сцена (кухня, офис, парк), тёплые тона\n   - flatlay: вид сверху, аксессуары вокруг, текстурный фон\n   - minimal: однотонный фон, минимум декора, чистая типографика\n   - model: на человеке/модели, модный фон\n5. Каждый промпт содержит: описание сцены + маркетинговые элементы + формат вертикальный 9:16\n6. ЗАПРЕЩЕНО: Midjourney-синтаксис (--ar, --v), описание самого товара`;\n\nconst messages = [\n  { role: 'system', content: ctx.systemPrompt },\n  {\n    role: 'user',\n    content: [\n      { type: 'text', text: userPrompt },\n      { type: 'image_url', image_url: { url: ctx.image_url, detail: 'high' } }\n    ]\n  }\n];\n\nconst requestBody = JSON.stringify({\n  model: ctx.model,\n  messages: messages,\n  max_tokens: 4000,\n  temperature: 0.7\n});\n\nconst url = ctx.baseUrl + '/chat/completions';\n\nreturn [{ json: { url, body: requestBody, ...ctx } }];"
      },
      "id": "build-analysis-body",
      "name": "🏗️ Запрос анализа фото",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 560]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": { "timeout": 120000 }
      },
      "id": "call-ai-analysis",
      "name": "🧠 AI анализ фото",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1460, 560],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YTA7VkJwvfpfaJec",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst prevCtx = $('🏗️ Запрос анализа фото').first().json;\n\nlet content = '';\ntry {\n  content = response.choices[0].message.content;\n} catch (e) {\n  throw new Error('AI не вернул ответ: ' + JSON.stringify(response));\n}\n\nlet cardData;\ntry {\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    cardData = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('JSON не найден в ответе');\n  }\n} catch (e) {\n  throw new Error('Ошибка парсинга JSON: ' + e.message + ' | Raw: ' + content.substring(0, 500));\n}\n\nreturn [{ json: {\n  product_name: prevCtx.product_name,\n  image_url: prevCtx.image_url,\n  marketplace: prevCtx.marketplace,\n  artikuls: prevCtx.artikuls,\n  session_id: prevCtx.session_id,\n  callback_url: prevCtx.callback_url,\n  style: prevCtx.style,\n  color_scheme: prevCtx.color_scheme,\n  include_price: prevCtx.include_price,\n  price: prevCtx.price,\n  include_badge: prevCtx.include_badge,\n  badge_text: prevCtx.badge_text,\n  concept: prevCtx.concept,\n  card_data: cardData,\n  baseUrl: prevCtx.baseUrl,\n  raw_ai_response: content\n}}];"
      },
      "id": "parse-analysis",
      "name": "📋 Парсинг анализа",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1720, 560]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $input.first().json;\nconst cardData = ctx.card_data;\nconst prompts = cardData.infographic_prompts || [];\nconst concept = ctx.concept || 'studio';\n\n// Concept-specific default prompts (used if AI didn't provide them)\nconst conceptDefaults = {\n  studio: [\n    'Place this product on a clean white studio background with soft even lighting. Add professional feature callout badges around the product, quality certification icons, and elegant gradient accent. Vertical 9:16 marketplace infographic.',\n    'Place this product on a light grey studio background with dramatic side lighting creating subtle shadows. Add numbered benefit icons on the left side and a promotional banner at the top. Vertical 9:16.',\n    'Place this product centered on a warm cream studio background. Add circular feature badges around the product, satisfaction guarantee seal, and clean minimalist info panels. Vertical 9:16.'\n  ],\n  lifestyle: [\n    'Place this product in a cozy home kitchen scene with warm natural lighting from a window. Add subtle feature callouts and lifestyle text overlays. Soft bokeh background. Vertical 9:16.',\n    'Place this product in a modern office desk setting with plants and coffee cup nearby. Add professional infographic features: benefit icons, usage scenario labels. Natural daylight. Vertical 9:16.',\n    'Place this product outdoors in a bright park setting. Active lifestyle context with happy vibes. Add benefit badges and a call-to-action banner. Vertical 9:16.'\n  ],\n  flatlay: [\n    'Top-down flatlay: product centered on marble surface, surrounded by complementary accessories and decorative elements. Feature callout labels pointing to key benefits. Vertical 9:16.',\n    'Top-down flatlay: product on wooden textured surface, styled with themed props around it. Clean infographic overlay with numbered benefits. Vertical 9:16.',\n    'Top-down flatlay: product on pastel colored background with geometric shapes and artistic arrangement. Modern badge overlays with key specs. Vertical 9:16.'\n  ],\n  minimal: [\n    'Product on solid white background with generous negative space. One bold headline, three minimal icons. Ultra-clean design. Vertical 9:16.',\n    'Product floating on soft gradient background (light to slightly darker). Minimalist typography with product name and one key benefit. Vertical 9:16.',\n    'Product on solid muted color background that complements it. Single feature highlight with elegant thin-line icons. Vertical 9:16.'\n  ],\n  model: [\n    'Show this product being worn/used by a person in modern urban setting. Street style photography feel. Subtle info badges and brand banner. Vertical 9:16.',\n    'Show this product in professional studio photoshoot. Model posing naturally. Product features and sizing info overlay. Vertical 9:16.',\n    'Show this product in casual lifestyle context — person at home. Cozy warm tones. Trust badges and customer rating overlay. Vertical 9:16.'\n  ]\n};\n\nconst defaults = conceptDefaults[concept] || conceptDefaults.studio;\n\n// Build 3 prompts: use AI-generated or fallback to concept defaults\nconst finalPrompts = [];\nfor (let i = 0; i < 3; i++) {\n  let p = (prompts[i] || defaults[i] || defaults[0]);\n  // Remove Midjourney flags\n  p = p.replace(/\\s*--[a-z]+\\s+[\\w:.]+/gi, '').trim();\n  // Safety prefix\n  p = 'Professional marketplace product infographic. Edit this product photo: ' + p + ' Eye-catching high-contrast design. Add decorative marketing elements, benefit icons, and promotional badges around the product.';\n  finalPrompts.push(p);\n}\n\nreturn [{ json: { ...ctx, final_prompts: finalPrompts } }];"
      },
      "id": "build-prompts",
      "name": "🎨 3 промпта",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 560]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.baseUrl }}/media/create",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'flux-kontext-pro', prompt: $json.final_prompts[0], image: $json.image_url, ar: '9:16' }) }}",
        "options": { "timeout": 60000 }
      },
      "id": "create-variant-1",
      "name": "🖼️ Вариант 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2240, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YTA7VkJwvfpfaJec",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('🎨 3 промпта').first().json.baseUrl }}/media/create",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'flux-kontext-pro', prompt: $('🎨 3 промпта').first().json.final_prompts[1], image: $('🎨 3 промпта').first().json.image_url, ar: '9:16' }) }}",
        "options": { "timeout": 60000 }
      },
      "id": "create-variant-2",
      "name": "🖼️ Вариант 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2240, 560],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YTA7VkJwvfpfaJec",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('🎨 3 промпта').first().json.baseUrl }}/media/create",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'flux-kontext-pro', prompt: $('🎨 3 промпта').first().json.final_prompts[2], image: $('🎨 3 промпта').first().json.image_url, ar: '9:16' }) }}",
        "options": { "timeout": 60000 }
      },
      "id": "create-variant-3",
      "name": "🖼️ Вариант 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2240, 720],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YTA7VkJwvfpfaJec",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Собираем task_ids от всех 3 вариантов\nconst ctx = $('🎨 3 промпта').first().json;\nconst v1 = $('🖼️ Вариант 1').first().json;\nconst v2 = $('🖼️ Вариант 2').first().json;\nconst v3 = $('🖼️ Вариант 3').first().json;\n\nconst taskIds = [\n  { task_id: v1.id || null, code: v1.code, variant: 0, error: v1.code !== 0 ? JSON.stringify(v1).substring(0, 200) : null },\n  { task_id: v2.id || null, code: v2.code, variant: 1, error: v2.code !== 0 ? JSON.stringify(v2).substring(0, 200) : null },\n  { task_id: v3.id || null, code: v3.code, variant: 2, error: v3.code !== 0 ? JSON.stringify(v3).substring(0, 200) : null }\n];\n\nconst validTasks = taskIds.filter(t => t.task_id);\nif (validTasks.length === 0) {\n  throw new Error('All variant creation requests failed: ' + JSON.stringify(taskIds));\n}\n\nreturn [{ json: {\n  task_ids: taskIds,\n  valid_count: validTasks.length,\n  media_base_url: ctx.baseUrl,\n  session_id: ctx.session_id,\n  product_name: ctx.product_name,\n  image_url: ctx.image_url,\n  marketplace: ctx.marketplace,\n  artikuls: ctx.artikuls,\n  callback_url: ctx.callback_url,\n  style: ctx.style,\n  color_scheme: ctx.color_scheme,\n  include_price: ctx.include_price,\n  price: ctx.price,\n  include_badge: ctx.include_badge,\n  badge_text: ctx.badge_text,\n  concept: ctx.concept,\n  card_data: ctx.card_data,\n  poll_count: 0\n}}];"
      },
      "id": "collect-task-ids",
      "name": "🔑 Собрать task_ids",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2500, 560]
    },
    {
      "parameters": {
        "amount": 20
      },
      "id": "wait-variants",
      "name": "⏳ Ждать 20 сек",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2740, 560],
      "webhookId": "b3c7d1e2-f456-4a89-b012-3c4d5e6f7a8b"
    },
    {
      "parameters": {
        "jsCode": "// Проверяем статус всех вариантов\nconst ctx = $input.first().json;\nconst taskIds = ctx.task_ids;\nconst baseUrl = ctx.media_base_url;\n\nconst results = [];\nfor (const t of taskIds) {\n  if (!t.task_id) {\n    results.push({ variant: t.variant, status: 'failed', url: null, error: t.error });\n    continue;\n  }\n  // Check result via /media/result — using HttpRequest would need 3 nodes, so we call plain HTTP\n  // Note: n8n credential header is already part of the calling context\n  results.push({ variant: t.variant, task_id: t.task_id, status: 'pending' });\n}\n\nreturn [{ json: { ...ctx, variant_results: results } }];"
      },
      "id": "prep-check",
      "name": "📋 Подготовка",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2980, 560]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.media_base_url }}/media/result",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"task_id\": \"{{ $json.task_ids[0].task_id }}\" }",
        "options": { "timeout": 30000 }
      },
      "id": "check-v1",
      "name": "🔄 Статус 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3220, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YTA7VkJwvfpfaJec",
          "name": "Header Auth account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('📋 Подготовка').first().json.media_base_url }}/media/result",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"task_id\": \"{{ $('📋 Подготовка').first().json.task_ids[1].task_id }}\" }",
        "options": { "timeout": 30000 }
      },
      "id": "check-v2",
      "name": "🔄 Статус 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3220, 560],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YTA7VkJwvfpfaJec",
          "name": "Header Auth account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('📋 Подготовка').first().json.media_base_url }}/media/result",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"task_id\": \"{{ $('📋 Подготовка').first().json.task_ids[2].task_id }}\" }",
        "options": { "timeout": 30000 }
      },
      "id": "check-v3",
      "name": "🔄 Статус 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3220, 720],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YTA7VkJwvfpfaJec",
          "name": "Header Auth account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Собираем результаты проверки всех 3 вариантов\nconst ctx = $('📋 Подготовка').first().json;\nconst r1 = $('🔄 Статус 1').first().json;\nconst r2 = $('🔄 Статус 2').first().json;\nconst r3 = $('🔄 Статус 3').first().json;\n\nconst results = [\n  { variant: 0, task_id: ctx.task_ids[0].task_id, status: r1.status || 'error', url: r1.url || null },\n  { variant: 1, task_id: ctx.task_ids[1].task_id, status: r2.status || 'error', url: r2.url || null },\n  { variant: 2, task_id: ctx.task_ids[2].task_id, status: r3.status || 'error', url: r3.url || null }\n];\n\nconst terminal = ['done', 'failed', 'fail', 'error'];\nconst allDone = results.every(r => terminal.includes(r.status) || !r.task_id);\nconst doneCount = results.filter(r => r.status === 'done').length;\n\nlet pollCount = (ctx.poll_count || 0) + 1;\n\n// Timeout after 30 polls (30 * 20s = 10 min)\nif (!allDone && pollCount > 30) {\n  results.forEach(r => {\n    if (!terminal.includes(r.status)) {\n      r.status = 'failed';\n      r.error = 'Timeout after 10 minutes';\n    }\n  });\n  return [{ json: { ...ctx, variant_results: results, all_done: true, done_count: doneCount, poll_count: pollCount } }];\n}\n\nreturn [{ json: { ...ctx, variant_results: results, all_done: allDone, done_count: doneCount, poll_count: pollCount } }];"
      },
      "id": "merge-results",
      "name": "📊 Объединить",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3460, 560]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "all-done", "leftValue": "={{ $json.all_done }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-all-done",
      "name": "✅ Все готовы?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3700, 560]
    },
    {
      "parameters": {
        "jsCode": "// Собираем финальные результаты\nconst ctx = $input.first().json;\nconst results = ctx.variant_results;\nconst doneResults = results.filter(r => r.status === 'done' && r.url);\nconst tempUrls = results.map(r => r.url || null);\n\nconst aPlusContent = {\n  ...(ctx.card_data.a_plus_content || {}),\n  variant_task_ids: results.map(r => r.task_id || null),\n  generation_model: 'flux-kontext-pro',\n  variants_generated: doneResults.length,\n  concept: ctx.concept\n};\n\nreturn [{ json: {\n  product_name: ctx.product_name,\n  image_url: ctx.image_url,\n  marketplace: ctx.marketplace,\n  artikuls: ctx.artikuls,\n  session_id: ctx.session_id,\n  callback_url: ctx.callback_url,\n  style: ctx.style,\n  color_scheme: ctx.color_scheme,\n  include_price: ctx.include_price,\n  price: ctx.price,\n  include_badge: ctx.include_badge,\n  badge_text: ctx.badge_text,\n  concept: ctx.concept,\n  card_data: ctx.card_data,\n  a_plus_content_merged: aPlusContent,\n  temp_urls: tempUrls,\n  infographic_url: doneResults[0]?.url || null,\n  infographic_variants: tempUrls.filter(u => u)\n}}];"
      },
      "id": "collect-result",
      "name": "📎 Собрать результат",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3940, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO product_cards (\n  product_name, image_url, marketplace, artikuls,\n  main_title, subtitle, bullet_points, cta_text,\n  seo_title, seo_description, search_keywords,\n  category_suggestion, color_palette, visual_style_notes,\n  rich_content_blocks, infographic_prompts, a_plus_content,\n  style, color_scheme, concept, generation_model,\n  infographic_url, infographic_variants, status\n) VALUES (\n  '{{ $json.product_name.split(\"'\").join(\"''\") }}',\n  '{{ $json.image_url.split(\"'\").join(\"''\") }}',\n  '{{ $json.marketplace }}',\n  '{{ JSON.stringify($json.artikuls).split(\"'\").join(\"''\") }}'::jsonb,\n  '{{ $json.card_data.main_title.split(\"'\").join(\"''\") }}',\n  '{{ ($json.card_data.subtitle || \"\").split(\"'\").join(\"''\") }}',\n  '{{ JSON.stringify($json.card_data.bullet_points || []).split(\"'\").join(\"''\") }}'::jsonb,\n  '{{ ($json.card_data.cta_text || \"\").split(\"'\").join(\"''\") }}',\n  '{{ ($json.card_data.seo_title || \"\").split(\"'\").join(\"''\") }}',\n  '{{ ($json.card_data.seo_description || \"\").split(\"'\").join(\"''\") }}',\n  '{{ JSON.stringify($json.card_data.search_keywords || []).split(\"'\").join(\"''\") }}'::jsonb,\n  '{{ ($json.card_data.category_suggestion || \"\").split(\"'\").join(\"''\") }}',\n  '{{ JSON.stringify($json.card_data.color_palette || []).split(\"'\").join(\"''\") }}'::jsonb,\n  '{{ ($json.card_data.visual_style_notes || \"\").split(\"'\").join(\"''\") }}',\n  '{{ JSON.stringify($json.card_data.rich_content_blocks || []).split(\"'\").join(\"''\") }}'::jsonb,\n  '{{ JSON.stringify($json.card_data.infographic_prompts || []).split(\"'\").join(\"''\") }}'::jsonb,\n  '{{ JSON.stringify($json.a_plus_content_merged || $json.card_data.a_plus_content || {}).split(\"'\").join(\"''\") }}'::jsonb,\n  '{{ $json.style }}',\n  '{{ $json.color_scheme }}',\n  '{{ $json.concept }}',\n  'flux-kontext-pro',\n  '{{ ($json.infographic_url || \"\").split(\"'\").join(\"''\") }}',\n  '{{ JSON.stringify($json.infographic_variants || []).split(\"'\").join(\"''\") }}'::jsonb,\n  'generated'\n) RETURNING *;",
        "options": {}
      },
      "id": "save-card",
      "name": "💾 Сохранить",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [4180, 400],
      "credentials": {
        "postgres": {
          "id": "BXL7joPD69X9xNOu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://dashboard:3001/api/internal/save-infographics",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"urls\": {{ JSON.stringify($('📎 Собрать результат').first().json.temp_urls.filter(u => u)) }},\n  \"card_id\": {{ $json.id }}\n}",
        "options": { "timeout": 120000 }
      },
      "id": "save-to-minio",
      "name": "📥 В MinIO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4420, 400],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://dashboard:3001/api/internal/card-ready",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"card_id\": {{ $('💾 Сохранить').first().json.id }},\n  \"product_name\": \"{{ $('📎 Собрать результат').first().json.product_name }}\",\n  \"infographic_url\": \"{{ ($json.publicUrls || [])[0] || $('📎 Собрать результат').first().json.infographic_url || '' }}\",\n  \"variants\": {{ JSON.stringify($json.publicUrls || $('📎 Собрать результат').first().json.infographic_variants || []) }},\n  \"concept\": \"{{ $('📎 Собрать результат').first().json.concept }}\",\n  \"status\": \"generated\"\n}",
        "options": { "timeout": 10000 }
      },
      "id": "callback-card",
      "name": "📡 Callback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4660, 400],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const saved = $('💾 Сохранить').first().json;\nconst minioResult = $('📥 В MinIO').first().json;\nconst collectResult = $('📎 Собрать результат').first().json;\n\nconst publicUrls = minioResult.publicUrls || collectResult.infographic_variants || [];\n\nreturn [{ json: {\n  success: true,\n  card_id: saved.id,\n  product_name: saved.product_name,\n  concept: saved.concept,\n  infographic_url: publicUrls[0] || collectResult.infographic_url,\n  infographic_variants: publicUrls,\n  variants_count: publicUrls.filter(u => u).length\n}}];"
      },
      "id": "final-output-card",
      "name": "📤 Результат",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4900, 400]
    }
  ],
  "connections": {
    "📥 Webhook": {
      "main": [[{ "node": "🔍 Валидация", "type": "main", "index": 0 }]]
    },
    "🔍 Валидация": {
      "main": [[
        { "node": "✅ Ответ 200", "type": "main", "index": 0 },
        { "node": "⚙️ Настройки", "type": "main", "index": 0 }
      ]]
    },
    "⚙️ Настройки": {
      "main": [[{ "node": "🔧 Конфиг", "type": "main", "index": 0 }]]
    },
    "🔧 Конфиг": {
      "main": [[{ "node": "🏗️ Запрос анализа фото", "type": "main", "index": 0 }]]
    },
    "🏗️ Запрос анализа фото": {
      "main": [[{ "node": "🧠 AI анализ фото", "type": "main", "index": 0 }]]
    },
    "🧠 AI анализ фото": {
      "main": [[{ "node": "📋 Парсинг анализа", "type": "main", "index": 0 }]]
    },
    "📋 Парсинг анализа": {
      "main": [[{ "node": "🎨 3 промпта", "type": "main", "index": 0 }]]
    },
    "🎨 3 промпта": {
      "main": [[
        { "node": "🖼️ Вариант 1", "type": "main", "index": 0 },
        { "node": "🖼️ Вариант 2", "type": "main", "index": 0 },
        { "node": "🖼️ Вариант 3", "type": "main", "index": 0 }
      ]]
    },
    "🖼️ Вариант 1": {
      "main": [[{ "node": "🔑 Собрать task_ids", "type": "main", "index": 0 }]]
    },
    "🖼️ Вариант 2": {
      "main": [[{ "node": "🔑 Собрать task_ids", "type": "main", "index": 0 }]]
    },
    "🖼️ Вариант 3": {
      "main": [[{ "node": "🔑 Собрать task_ids", "type": "main", "index": 0 }]]
    },
    "🔑 Собрать task_ids": {
      "main": [[{ "node": "⏳ Ждать 20 сек", "type": "main", "index": 0 }]]
    },
    "⏳ Ждать 20 сек": {
      "main": [[{ "node": "📋 Подготовка", "type": "main", "index": 0 }]]
    },
    "📋 Подготовка": {
      "main": [[
        { "node": "🔄 Статус 1", "type": "main", "index": 0 },
        { "node": "🔄 Статус 2", "type": "main", "index": 0 },
        { "node": "🔄 Статус 3", "type": "main", "index": 0 }
      ]]
    },
    "🔄 Статус 1": {
      "main": [[{ "node": "📊 Объединить", "type": "main", "index": 0 }]]
    },
    "🔄 Статус 2": {
      "main": [[{ "node": "📊 Объединить", "type": "main", "index": 0 }]]
    },
    "🔄 Статус 3": {
      "main": [[{ "node": "📊 Объединить", "type": "main", "index": 0 }]]
    },
    "📊 Объединить": {
      "main": [[{ "node": "✅ Все готовы?", "type": "main", "index": 0 }]]
    },
    "✅ Все готовы?": {
      "main": [
        [{ "node": "📎 Собрать результат", "type": "main", "index": 0 }],
        [{ "node": "⏳ Ждать 20 сек", "type": "main", "index": 0 }]
      ]
    },
    "📎 Собрать результат": {
      "main": [[{ "node": "💾 Сохранить", "type": "main", "index": 0 }]]
    },
    "💾 Сохранить": {
      "main": [[{ "node": "📥 В MinIO", "type": "main", "index": 0 }]]
    },
    "📥 В MinIO": {
      "main": [[{ "node": "📡 Callback", "type": "main", "index": 0 }]]
    },
    "📡 Callback": {
      "main": [[{ "node": "📤 Результат", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
